body {
    font-family: Montserrat, sans-serif;
}

.reg-form {
  height: 100%;
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: 24px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 25px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: Montserrat, sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input:hover {
    border: 1px solid #BFBFBF;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #7466F9;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: white;
  padding: 16px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  background-color: #553DF2;
}

/* Add a blue text color to links */
a {
  color: #553DF2;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  margin: 16px;
}

.title-form_hover:hover {
  color: #553DF2;
}

.hover-name:hover {
  color: #553DF2;
}

.hover-email:hover {
  color: #553DF2;
}

.hover-password:hover {
  color: #553DF2;
}

.hover-psw-repeat:hover {
  color: #553DF2;
}

.tcol {
  color: #553DF2;
}
